<% if activity.trackable %>
  <li class="list-group-item"><%= link_to activity.owner.username, user_path(activity.owner.username) %> لم تعجبه تغريدة <%= content_tag :time, '', class: 'timeago', datetime: activity.created_at.localtime %></li>
<% end %>
