<% if activity.trackable %>
  <li class="list-group-item"><%= link_to activity.owner.username, user_path(activity.owner.username) %> تابع <%= link_to activity.recipient.username, user_path(activity.recipient.username) %></li>
<% end %>
