// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-fluid .display-3 .btn-group {
    margin-top: -30px;
}
